body {
  background-image: url('/IMAGE/Fondo-1.jpg');
  background-size: cover; 
  width: 100%; 
  height: 400px; 
}

.card-img-left {
  width: 45%;
  background-size: cover;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 10px;
  width: 200px;
}

.d-flex{
  justify-content: space-between;
  margin-top: 28px;
}

.form-floating{
  margin-top: 30px;
}

.btn-primary{
  margin-right: 10px;
}

.custom-shadow {
  box-shadow: 0 5 20px rgb(233, 231, 141); 
}

.text-primary{
  text-decoration: none;
}

.title-matriz{
  margin-top: 40px;
}

/* Estilo para cambiar el color de las líneas de la tabla */
table.table-bordered, table.table-bordered tr, table.table-bordered td {
  border: 4px solid #fa97c7; 
}

/* Estilo para las líneas alternas de la tabla */
table.table-striped tr:nth-child(even) {
  background-color: #f9f9f9; 
}

.content-tab{
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-custom {
  width: 100%; /* */
  font-size: 24px; 
}

td{
  text-align: center;
}
